{
  "passPerPreset": true,
  "presets": [
    [
      {
        "plugins": [
          "./build/babelRelayPlugin"
        ]
      }
    ],
    "react",
    "es2015",
    "es2016"
  ],
  "plugins": [
    "jsx-control-statements",
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}