//@import 'simplegrid.css';
* {
  box-sizing: border-box;
}

body {
  //padding: 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

